/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* HEADER */

header{
    padding: 20px 0;
    background: linear-gradient(#353434, #1f1f1f);
}

header img{
    width: 200px;
    margin-left: 15px;
}

/* MAIN */

.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

h1 {
    color: rgb(226, 63, 63);
}
.card{
    padding: 4rem 7rem;
    background: linear-gradient(#353434, #1f1f1f);
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 25px;
}

tr, td {
    padding: 15px 15px 15px 0;
}